/*
 raw2fits-cli sample configuration file
 Oleg Kutkov <elenbert@gmail.com>
 Crimean astrophysical observatory, 2017
*/

raw2fits:
{
	/* input/output params */
	io:
	{
		raw_dir = "/media_storage/sampleraw/";		// Directory with RAW files to convert
		fits_dir = "/media_storage/fitsout/";		// Where to store FITS files
		#raw_filter_name = [ "cr2", "nef", "antares" ];	// Process only RAW files with names containings this words

		filenaming:
		{
			/*
				File naming mode, available options are:
					0 - <RAW file name>.fits
					1 - <object>_<datetime>.fits
					2 - <object>_<filter>_<datetime>.fits
					3 - <RAW file name>_<datetime>.fits
			*/
			mode = 0;

			/* Overwrite already existing FITS */
			overwrite = false;
		};
	};

	/*  Fits header params 
		you can leave fields blank, or comment it or even remove
		such fields just will not be included in the target files
	*/
	fits:
	{
		object = "Antares";		// Observed object name, max: 71 symbols
		object_coordinates = {
								ra = "16:29:24.45970";	// Observed object coordinates RA
								dec = "-26:25:55.2094"; // Observer object coordinates DEC
							};

		/* Telescope name */
		telescope = "Newton";

		/* Clear aperture of the telescope in meters */
		teleaper = 0.15;

		/* Focal length of the telescope in meters */
		telefoc = 0.75;

		/* instrement name, leave blank or comment to use camer model from RAW file */
		instrument = "";

		/* observatory name */
		observatory = "CrAO";

		/* Observatory site name */
		sitename = "Crimea, Nauchniy";

		/* Latitude of the observing site, in decimal degrees  */
		sitelat = 44.7297;

		/* East longitude of the observing site, in decimal degrees  */
		sitelon = 34.0125;

		/* Elevation of the observatory site in meters */
		sitelev = 610;

		/* Observer name, leave blank or comment to use camer model from RAW (if present in) file */
		observer = "Kutkov";

		/* Filter used in observation, set "C" if no filters were used */
		filter = "C";			

		/* Observation date, correct value in FITS standard, leave blank or comment to use value from RAW file */
		#date = "2017-09-24T02:04:33";

		/* Exposure of the single image in seconds, leave blank or comment to use value from RAW file */
		#exposure = 28.1;

		/* Temperature during observation, Celsius, optional field */
		temperature = -4.7;

		/* Additional notes, free form text */
		notes = "Clear, Moon"
	};

	/* Image & colors processing options */
	colors:
	{
		/*
			Color channels mode, available options are:
				0 - Convert RGB to average grayscale
				1 - R, G and B channels to the separate FITS's
				2 - R, G and B channels to the one FITS with separate headers
				3 - Only R channel
				4 - Only G channel
				5 - Only B channel
		*/
		mode = 0;

		/* Apply autobright by histogram */
		autobright = false;

		/* Apply pixels interpolation */
		interpolation = true;

		/* Apply pixels autoscale */
		autoscale = true;
	};

};

